<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post"
      th:action="@{/cookies}">
    Language:
    <select
            id="lang"
            name="lang">
        <option value="en" th:selected="${lang == 'en'}">English</option>
        <option value="bg" th:selected="${lang == 'bg'}">Bulgarian</option>
        <option value="de" th:selected="${lang == 'de'}">German</option>
        <option value="ua" th:selected="${lang == 'ua'}">Ukraine</option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>